
  {% for post in postslist | reverse %}

  <article class="hentry entry-1">

    <h2 class="entry-title"><a href="{{ post.url | url }}" rel="bookmark"
        title="Permanent Link to post.data.title">{{post.data.title}}</a></h2>
    <small class="published">{{post.humanDate}}{{ post.date | readableDate }}</small>

    <p class="categs">{%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" rel="category tag">{{ tag }}</a>
      {%- endif -%}</p>
    
    <p>{{post.data.excerpt | safe}}</p>

    <p class="comments"><a href="http://cssing.org.ua/2012/02/14/panic/#comments"
        class="commentslink">{% if post.data.comments %}{{post.data.comments.length }}{% else %}0{% endif %}<span>комментариев</span></a>
    </p>


  </article>

  {% endfor %}

