<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <meta name="author" content="akella">
    <meta name="revisit-after" content="1 Day">
    <meta name="keywords"
        content="web-design, web-standards, usability, typography, graphic design, akella, CSS, XHTML ,weblog, cssing, Юра Артюх, Юра, сайт, ukr.net">

    <meta name="ROBOTS" content="ALL">

    <link rel="stylesheet" href="{{ '/css/master.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/iphone.css' | url }}"  media="only screen and (max-device-width: 480px)" href="/wp-content/themes/cssing_html5/css/iphone.css">

   <link rel="stylesheet" href="{{ '/css/print.css' | url }}" media="print">

</head>
  <body>

    <!-- BEGIN #out -->
    <div id="out">
      <!-- BEGIN #header -->
      <div id="header">
          <header>
              <h1><a href="{{ '/' | url }}">{{ metadata.title }}<span></span></a></h1>
              <p class="description">Блог вебстандартиста и вебразработчика Юрия &#8220;akella&#8221; Артюха.</p>
          </header>
          
          <!-- <nav><a href="http://cssing.org.ua/archive/" id="current">архив</a>, <a
                  href="http://cssing.org.ua/resources/">ресурсы</a>, <a href="http://cssing.org.ua/about/">про
                  это</a>.
                {%- for entry in collections.all | eleventyNavigation %}
                  <a href="{{ entry.url | url }}" class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">{{ entry.title }}</a>
                {%- endfor %}
                </nav> -->
      </div>
      <!-- END #header -->
      <hr>



      <!-- BEGIN #content -->
      <section class="content">
        

          {{ content | safe }}

      </section>
      <!--end of #content -->

    <!--begin #secondary -->
    <aside>

        <h3>Twitter</h3>
        <a class="twitter-timeline" href="https://twitter.com/akella" data-widget-id="363072899134943232">Tweets by @akella</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </aside>
    <!--end #secondary -->


    <!--begin #footer -->
    <footer>
        <p><a href="mailto:akella.a@gmail.com" title="Написать письмо">akella</a>,
            <a href="http://wordpress.org">WordPress</a>,
            <a href="http://cssing.org.ua/feed/">RSS</a>,
            <a title="CSS не проходит валидацию" href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>,
            <a title="я доступный :)"
                href="http://www.contentquality.com/mynewtester/cynthia.exe?Url1=http://www.cssing.org.ua/">508</a>,
            <a href="http://validator.w3.org/check/referer" title="Валидный XHTML 1.0">HTML5</a><br /> Спасибо, <a
                href="http://genn.org">Genn</a>, за дизайн!</p>
    </footer>
    <!--end #footer -->

    <!-- Gorgeous design by Genn(genn.org) & a wee bit akella -->
</div>
<!-- END #out -->
</body>

</html>